.login {
    color: #ee82ee;

    &__title {
        display: flex;
        justify-content: center;
    }

    &__form {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        width: 30%;
        background-color: #014061;
        color: #ee82ee;
        border-radius: 10px;
    }

    &__footer {
        display: flex;
        justify-content: center;
        color: #ee82ee;
        text-decoration: none;
    }

    &__button {
        background-color: #014061;
        color: #ee82ee;
        border-radius: 10px;
        width: 100px;
        height: 30px;
    }

    &__error {
        color: red;
    }
}